nohup.out
__pycache__
controller/__pycache__
GFVis/__pycache__
controller/__pycache__
static/image/svg
# 忽略csv目录下的所有文件，但不忽略这三个特定的文件
csv
wget-log
output
csv.bac
static/json*
static/.test
static/google_analytics.json
Log/*
*.log
test
*.tar.gz